# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf

# MARKDOWN
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# CSS
[*.css]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Javascript and Typescript
[*.{js,ts}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = true

# PHP
# PSR-2 Coding Standards
# http://www.php-fig.org/psr/psr-2/
[*.php]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 120

[*.json]
indent_style=space
indent_size=2

[{*.yml, *.yaml}]
indent_style = space
indent_size = 2
